# Kaggle Data Science Survey - Data Exploration on Job Satisfaction

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [11]:
raw_multiple_choice_data = pd.read_csv('../Input/multipleChoiceResponses.csv', encoding='ISO-8859-1', low_memory=False)
raw_freeform_data = pd.read_csv('../Input/freeformResponses.csv', low_memory=False)
schema = pd.read_csv('../Input/schema.csv')
conversion_rates = pd.read_csv('../Input/conversionRates.csv')

We are building upon what has already been done on the Kaggle Survey Report: https://www.kaggle.com/amberthomas/kaggle-2017-survey-results
We will follow along in the data cleaning process etc and then move onto finding our own insights that are targetted more towards my specific questions around Job Satisfaction.

In [12]:
clean_MC_data = raw_multiple_choice_data
clean_FF_data = raw_freeform_data

This function is written in the kernel we are using.  It is so that you can analyze questions 1 at a time.

In [29]:
clean_MC_data.head()
# gender_series = clean_MC_data["GenderSelect"]

,GenderSelect,Country,Age,EmploymentStatus,StudentStatus,LearningDataScience,CodeWriter,CareerSwitcher,CurrentJobTitleSelect,TitleFit,...,JobFactorExperienceLevel,JobFactorDepartment,JobFactorTitle,JobFactorCompanyFunding,JobFactorImpact,JobFactorRemote,JobFactorIndustry,JobFactorLeaderReputation,JobFactorDiversity,JobFactorPublishingOpportunity
0,"Non-binary, genderqueer, or gender non-conforming",NaN,NaN,Employed full-time,NaN,NaN,Yes,NaN,DBA/Database Engineer,Fine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Female,United States,30.0,"Not employed, but looking for work",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Somewhat important,NaN,NaN
2,Male,Canada,28.0,"Not employed, but looking for work",NaN,NaN,NaN,NaN,NaN,NaN,...,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important
3,Male,United States,56.0,"Independent contractor, freelancer, or self-em...",NaN,NaN,Yes,NaN,Operations Research Practitioner,Poorly,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Male,Taiwan,38.0,Employed full-time,NaN,NaN,Yes,NaN,Computer Scientist,Fine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
def multiple_choice(question, filtered_data = clean_MC_data):
    # Remove any rows where the respondent did not answer the question
    filtered_data.dropna(subset=[question],inplace=True)
    
    # Remove all columns except question
    filtered_data = filtered_data[question]
    
    print(type(filtered_data))
    # Add a column with the initial number of respondents to the question
    count_data = filtered_data.value_counts
    
    return count_data

In [34]:
multiple_choice('JobSatisfaction')

<class 'pandas.core.series.Series'>

<bound method IndexOpsMixin.value_counts of 0                              5
3          10 - Highly Satisfied
4                              2
5                              8
6                              8
8                              7
9                              7
11                             7
14                             5
15                             5
21                             6
22                             7
23                             5
24                             8
25                             8
26                             7
27                             9
28                             8
30                             6
31                             9
32                             7
33                             9
34                             8
37                             9
41                             6
42                             7
44                             8
45                             7
48                             9
51       1 - Highly Dissatisfied
                  ...
16298                          9
16300                          9
16309                          3
16334                          6
16339      10 - Highly Satisfied
16343                          7
16352                          7
16353                          2
16360                          7
16363                          6
16374                          6
16394                          6
16423                          6
16470    1 - Highly Dissatisfied
16473                          9
16481                          9
16502                          5
16506                          7
16507                          4
16517                          6
16520                          8
16525                          7
16532      10 - Highly Satisfied
16577                          8
16634    1 - Highly Dissatisfied
16662                          8
16673                          6
16687                          6
16700                          6
16712                          7
Name: JobSatisfaction, Length: 6664, dtype: object>